{{ define "main" }}
<div class="content">
    <h3 class="title">{{ .Title }}</h3>
        {{ $dateFormat := .Site.Params.dateFormat }}

            {{ .Date.Format $dateFormat }}

        {{ with .Params.tags }}
            {{ range . }}
            {{ $href := print (absURL "tags/") (urlize .) }}
            <span class="tag">
                <a href="{{ $href }}">{{ . }}</a>
            </span>
            {{ end }}
        {{ end }}
    <p>{{ .Content }}</p>
</div>
<div id="comments">
{{ with .Params.ghissueid }}
        {{ partial "comments.html" $ }}
    {{ end }}
</div>
{{ end }}